@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
footer .contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
footer .contact-links .hablemos {
  color: #F1B4BB;
  padding-top: 15px;
  padding-right: 5px;
  font-size: 20px;
}
footer .contact-links a {
  color: #F1B4BB;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 690;
}
footer .contact-links a .btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}
footer .contact-links .button {
  transition: transform 0.3s ease-out !important;
}
footer .contact-links .button:hover {
  transform: translateY(8px) !important;
  color: #F1B4BB;
}

header .nav_clase {
  background-color: #F1B4BB;
  width: 100%;
}
header .nav_clase a {
  color: white;
}
header .nav_clase .cinefilos {
  color: #1b1b32;
}
header .nav_clase a:not(.cinefilos) {
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.7);
}

main img {
  width: 460px;
}
main .botones {
  margin-top: 80px;
  margin-left: 42px;
  margin-right: 15px;
  align-content: center;
}
main .texto_principal {
  margin-bottom: 25px;
  margin-top: 25px;
  text-shadow: 2px 5px 6px rgb(0, 0, 0);
  text-align: center;
}
main .top_peliculas {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  padding: 0 60px;
}
main .top_peliculas img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
main .top_peliculas strong {
  color: #F1B4BB;
}
main .tit_series {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
main .informacion {
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 25px;
  text-align: center;
  background-color: #F9EFDB;
  color: #000;
}
main .informacion .botones {
  margin-top: 80px;
  margin-left: 42px;
  margin-right: 15px;
  align-content: center;
}
main .informacion h2 {
  font-size: 27px;
}
main .informacion p {
  font-size: 16px;
}

.act {
  margin-top: 70px;
  display: grid;
  place-items: center;
}
.act div {
  margin-bottom: 30px;
}
.act div img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.act .card {
  background-color: #F9EFDB;
}
.act .list-group-item {
  background-color: #F9EFDB;
}

.h1_reco {
  padding-top: 75px;
  margin: 10px;
}

.p_reco {
  text-align: center;
}

.container_reco {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.container_reco div {
  color: #000;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 35px;
  padding-top: 15px;
  background-color: #F9EFDB;
  display: grid;
  grid-template-areas: "section iframe" "section iframe";
  grid-template-columns: 40% 60%;
  gap: 100px;
  height: 350px;
}
.container_reco section {
  padding: 25px;
}

#sagas {
  margin: 10px;
}
#sagas .h1_sagas {
  margin-top: 70px;
  padding: 20px;
  text-align: center;
}
#sagas .container_carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#sagas .container_carousel .sagas {
  width: 700px;
  height: auto;
}
#sagas .container_carousel img {
  width: 100%;
  max-width: 700px;
  height: 400px;
  object-fit: cover;
  border-radius: 2px;
}

.footer_hist {
  margin-top: 70px;
}

.h1_cont {
  margin-top: 85px;
}

.h2_cont {
  font-size: 20px;
}

.div_fieldset {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 200px;
  align-items: center;
  justify-content: center;
}
.div_fieldset fieldset {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  border-color: #F9EFDB;
}
.div_fieldset #bio {
  font-size: 14px;
}
.div_fieldset #nombre, .div_fieldset #apellido, .div_fieldset #email {
  height: 30px;
  padding-left: 5px;
  font-size: 14px;
}
.div_fieldset .div_2 {
  margin-right: 25px;
}
.div_fieldset .div_2 .preg_1 {
  padding-bottom: 20px;
}
.div_fieldset input, .div_fieldset textarea {
  background-color: #F9EFDB;
}
.div_fieldset label {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  padding-right: 5px;
}
.div_fieldset fieldset legend {
  font-size: 20px;
  padding-top: 10px;
}

input[class=submit] {
  color: #000;
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 19px;
  background-color: #F9EFDB;
  border-color: #F9EFDB;
  min-width: 300px;
}

input[name=opinion] {
  margin-left: 7px;
}

input[name=opciones] {
  margin-left: 7px;
}

.footer_cont {
  margin-top: 260px;
}

@media screen and (min-width: 1300px) and (max-width: 1550px) {
  .top_peliculas {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}
@media screen and (min-width: 1055px) and (max-width: 1300px) {
  .top_peliculas {
    grid-template-columns: 1fr 1fr 1fr !important;
    padding: 15px !important;
  }
}
@media screen and (min-width: 500px) and (max-width: 1055px) {
  .top_peliculas {
    grid-template-columns: 1fr 1fr !important;
    gap: 15px !important;
    padding: 15px !important;
  }
}
@media screen and (max-width: 500px) {
  main .texto_principal h2 {
    margin-top: 10px;
    font-size: 20px;
  }
  main .top_peliculas {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 10px;
    padding: 10px !important;
    margin-left: 5px;
  }
  main .informacion {
    margin-left: 20px;
    margin-right: 20px;
  }
  main .informacion p {
    font-size: 14px !important;
  }
  main .informacion h2 {
    font-size: 25px;
  }
  main .botones {
    margin-right: 36px;
  }
  main .tit_series {
    margin-bottom: 20px;
  }
  main h1 {
    font-size: 25px !important;
  }
}
@media screen and (min-width: 1000px) {
  .container_actores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
  }
  .act h1 {
    font-size: 30px;
    margin: 20px;
  }
}
@media screen and (min-width: 700px) and (max-width: 999px) {
  .container_actores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .act h1 {
    margin: 15px;
  }
}
@media screen and (max-width: 700px) {
  .container_actores {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .act h1 {
    font-size: 25px !important;
    margin: 10px;
  }
  .contact-links {
    margin-top: 0rem !important;
  }
}
@media screen and (min-width: 1530px) and (max-width: 1700px) {
  .container_reco div {
    margin-right: 200px;
    margin-left: 200px;
  }
}
@media screen and (min-width: 1330px) and (max-width: 1530px) {
  .container_reco div {
    margin-right: 100px;
    margin-left: 100px;
  }
}
@media screen and (min-width: 1110px) and (max-width: 1330px) {
  .container_reco div {
    margin-right: 0px;
    margin-left: 0px;
  }
  .container_reco iframe {
    width: "460";
    height: "215";
  }
}
@media screen and (min-width: 780px) and (max-width: 1110px) {
  .container_reco {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .container_reco div {
    margin-bottom: 25px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    height: auto;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 25px;
  }
  .container_reco iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 780px) {
  .h1_reco {
    font-size: 25px !important;
  }
  p {
    font-size: 14px;
  }
  .container_reco {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .container_reco div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    gap: 0px;
  }
  .container_reco div section, .container_reco div iframe {
    padding: 15px;
    padding-bottom: 0;
  }
  .container_reco div iframe {
    width: 100%; /* Haz que el iframe ocupe todo el ancho del contenedor */
    max-width: 560px; /* Ancho máximo del video */
    height: 315px; /* Altura del video */
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 500px) {
  #sagas .h1_sagas {
    font-size: 25px !important;
    margin-top: 70px;
  }
  #sagas .container_carousel {
    gap: 30px;
  }
  #sagas .container_carousel img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 2px;
  }
  .footer_hist {
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .footer_cont {
    margin-top: 0px;
  }
  .h1_cont {
    text-align: center;
    margin-top: 70px;
  }
  .h2_cont {
    font-size: 16px !important;
    padding: 5px;
  }
  .div_fieldset {
    margin: 0px;
    padding: 10px;
    gap: 15px;
    flex-flow: column nowrap;
  }
  .div_fieldset fieldset {
    font-size: 14px;
    text-align: left;
    justify-content: left;
    align-items: left;
  }
  .div_fieldset fieldset textarea, .div_fieldset fieldset input {
    width: 170px;
    height: 50px;
    padding: 2px;
  }
  .div_fieldset fieldset label {
    flex-direction: column;
  }
  .div_fieldset fieldset legend {
    font-size: 18px;
    padding-top: 10px;
  }
  .div_fieldset fieldset input[name=opciones] {
    width: 15px;
    height: 15px;
  }
  .div_fieldset fieldset input[name=opinion] {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 1145px) and (min-width: 500px) {
  .footer_cont {
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 1320px) and (min-width: 500px) {
  .footer_cont {
    margin-top: 200px;
  }
  .h1_cont {
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
  }
  .div_fieldset {
    margin-left: 20px;
    gap: 50px;
  }
}
@media screen and (max-width: 1900px) and (min-width: 1320px) {
  .footer_cont {
    margin-top: 175px;
  }
}
@media screen and (max-width: 500px) {
  .contact-links a, .contact-links h3 {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 399px) {
  .contact-links {
    flex-wrap: wrap;
  }
}
/* Estilos Generales */
body:not(nav) {
  font-family: "Libre Baskerville", serif !important;
  font-size: 15px;
  background-color: #1b1b32 !important;
  color: #fff !important;
}

h1 {
  font-size: 30px !important;
  text-align: center;
}

h2 {
  font-size: 20px !important;
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
