@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body:not(nav){
    font-family: 'Libre Baskerville', 'serif' !important;
    font-size: 15px ;
    background-color: #1b1b32 !important;
    color: white !important;

    footer {
        .contact-links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin-top: 2rem;

            .hablemos {
                color: #F1B4BB;
                padding-top: 15px;
                padding-right: 5px;
                font-size: 20px;
            }

            a {
                color: #F1B4BB;
                text-decoration: none;
                padding: 10px;
                font-size: 20px;
                font-weight: 690;

                .btn {
                    display: inline-block;
                    padding: 1rem 2rem;
                    border-radius: 2px;
                }
        
                .button {
                    transition: transform 0.3s ease-out !important;
                    &:hover {
                        transform: translateY(8px);
                        color: #F1B4BB !important;
                    }
                }
                
            }

        }
    }    
}