@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body:not(nav){
    font-family: 'Libre Baskerville', 'serif' !important;
    font-size: 15px ;
    background-color: #1b1b32 !important;
    color: white !important;

    header {
        .nav_clase {
            background-color: #F1B4BB;
            width: 100%;

            a {
                color: white;

                .cinefilos {
                    color: #1b1b32;
                }
                &:not(.cinefilos) {
                    text-shadow: 2px 3px 6px rgba(0,0,0,0.7);
                }
            }

        }
    }
}