// INDEX
@media screen and (min-width:1300px) and (max-width: 1550px) {
    .top_peliculas {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}

@media screen and (min-width:1055px) and (max-width: 1300px) {
    .top_peliculas{
        grid-template-columns: 1fr 1fr 1fr !important;
        padding: 15px !important;
    }
}

@media screen and (min-width:500px) and (max-width: 1055px) {
    .top_peliculas {
        grid-template-columns: 1fr 1fr !important;
        gap: 15px !important;
        padding: 15px !important;

    }
}

@media screen and (max-width: 500px) {
    main {
        .texto_principal{
            h2{
                margin-top: 10px;
                font-size: 20px;
            }
        } 
        .top_peliculas {
            display: grid;
            grid-template-columns: 1fr !important;
            gap: 10px;
            padding: 10px !important;
            margin-left: 5px;
        }
        .informacion {
            margin-left: 20px ;
            margin-right: 20px ;
            p{
                font-size: 14px !important;
            }
            h2 {
                font-size: 25px;
            }
        }
        .botones {
            margin-right: 36px;
        }
        .tit_series {
            margin-bottom: 20px;
            
        } 
        h1{
            font-size: 25px !important;
        }
    }   
}

// Actores
@media screen and (min-width: 1000px) {
    .container_actores {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
    }
    .act h1 {
        font-size: 30px;
        margin: 20px;
    }
    
}

@media screen and (min-width: 700px) and (max-width: 999px){
    .container_actores {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    .act h1 {
        margin: 15px;
    }
}

@media screen and (max-width: 700px){
    .container_actores {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .act h1 {
        font-size: 25px !important;
        margin: 10px;
    }
    .contact-links {
        margin-top: 0rem !important;
    }
}

// RECOMENDACIONES
@media screen and (min-width: 1530px) and (max-width: 1700px) {
    .container_reco {
        div{
            margin-right: 200px;
            margin-left: 200px;
        }
    }

}

@media screen and (min-width: 1330px) and (max-width: 1530px) {
    .container_reco {
        div{
            margin-right: 100px;
            margin-left: 100px;
        }
    }

}

@media screen and (min-width: 1110px) and (max-width: 1330px) {
    .container_reco {
        div{
            margin-right: 0px;
            margin-left: 0px;
        }
        iframe{
            width:"460";
            height: "215";
        }
    }

}

@media screen and (min-width: 780px) and (max-width: 1110px) {
    .container_reco {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        div {
            margin-bottom: 25px;
            gap: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100% !important;
            height: auto;
            margin-right: 100px;
            margin-left: 100px;
            margin-bottom: 25px;
        }
        iframe {
            width: 100%;
            max-width: 560px;
            height: 315px;
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 780px) {

    .h1_reco {
        font-size: 25px !important;
    }
    p{
        font-size: 14px;
    }
    .container_reco {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 100%;
            margin: 0;
            margin-bottom: 25px;
            gap: 0px;
            section, iframe {
                padding: 15px;
                padding-bottom: 0;
            }
            iframe {
                width: 100%; /* Haz que el iframe ocupe todo el ancho del contenedor */
                max-width: 560px; /* Ancho máximo del video */
                height: 315px; /* Altura del video */
                margin-bottom: 15px;
            }
        }
    }
}

// SAGAS
@media screen and (max-width: 500px) {
    #sagas {
        .h1_sagas {
            font-size: 25px !important;
            margin-top: 70px;
        }
        .container_carousel {
            gap: 30px;
            img {
            width: 100%;
            height: 280px;
            object-fit: cover;
            border-radius: 2px;
            }
        }
    }
    .footer_hist {
        margin-top: 20px;
    }
}

// FORMULARIO
@media screen and (max-width: 500px) {

    .footer_cont {
        margin-top: 0px;
    }

    .h1_cont {
        text-align: center;
        margin-top: 70px;
    }
    .h2_cont{
        font-size: 16px !important;
        padding: 5px;
    }
    .div_fieldset {
        margin: 0px;
        padding: 10px;
        gap: 15px;
        flex-flow: column nowrap;

        fieldset {
            font-size: 14px ;
            text-align: left;
            justify-content: left;
            align-items: left;      
            textarea, input{
                width: 170px;
                height: 50px;
                padding: 2px;
            }
            label {
                flex-direction: column;
            }
            legend {
                font-size: 18px;
                padding-top: 10px;
            }
            input[name="opciones"] {
                width: 15px;
                height: 15px;
            }
            input[name="opinion"] {
                width: 15px;
                height: 15px;
            }
        }
    }
}

@media screen and (max-width: 1145px) and (min-width: 500px){
    .footer_cont {
        margin-top: 0px !important;
    }

}

@media screen and (max-width: 1320px) and (min-width: 500px){

    .footer_cont {
        margin-top: 200px;
    }

    .h1_cont {
        text-align: center;
        margin-top: 70px;
        font-size: 20px;
    }

    .div_fieldset {
        margin-left: 20px;
        gap: 50px;
    }
}

@media screen and (max-width: 1900px) and (min-width: 1320px){
    .footer_cont {
        margin-top: 175px;
    }
}

// Footer
@media screen and (max-width: 500px){
    .contact-links{    
        a, h3{
        font-size: 16px !important;
        }
    } 
}

@media screen and (max-width: 399px) {
    .contact-links {
        flex-wrap: wrap ;
    }
}