// INDEX

@media screen and (min-width:1200px) and (max-width: 1550px) {
    .top_peliculas {
        grid-template-columns: 1fr 1fr 1fr !important;
        gap: 10px;
        padding: 0px 10px;
    }
}

@media screen and (min-width:600px) and (max-width: 1200px) {
    .top_peliculas {
        grid-template-columns: 1fr 1fr !important;
        gap: 0px;
        padding: 15px !important;

    }
}
   
@media screen and (max-width: 600px) {

    main {
        .texto_principal{
            h2{
                margin-top: 10px;
                font-size: 20px;
            }
        } 
        
        .top_peliculas {
            display: grid;
            grid-template-columns: 1fr !important;
            gap: 10px;
            padding: 10px !important;
            margin-left: 5px;
        }

        .informacion {
            margin-left: 20px ;
            margin-right: 20px ;
            font-size: 13px !important;

            h2 {
                font-size: 25px;
            }
        }

        .botones {
            margin-right: 36px;
        }

        .tit_series {
            margin-bottom: 20px;
        }
        
        .contact-links{
            a, h3{
            font-size: 16px !important;
            }
        } 
    }   
}


// Actores
@media screen and (min-width: 1000px) {
    
    .container_actores {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
    }

    .act h1 {
        font-size: 30px;
        margin: 20px;
    }
    
}

@media screen and (min-width: 700px) and (max-width: 999px){
    
    .container_actores {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .act h1 {
        font-size: 25px !important;
        margin: 15px;
    }
    
}

@media screen and (max-width: 700px){
    
    .container_actores {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .act h1 {
        font-size: 23px !important;
        margin: 10px;
    }

    .contact-links {
        margin-top: 0rem !important;
    }
    
}

// RECOMENDACIONES
@media screen and (min-width: 1530px) and (max-width: 1630px) {
    .container_reco {
        div{
            margin-right: 200px !important;
            margin-left: 200px;
        }
    }

}
@media screen and (min-width: 1330px) and (max-width: 1530px) {
    .container_reco {
        div{
            margin-right: 100px !important;
            margin-left: 100px;
        }
    }

}
@media screen and (min-width: 1110px) and (max-width: 1330px) {
    .container_reco {
        div{
            margin-right: 0px !important;
            margin-left: 0px;
        }
        iframe{
            width:"460";
            height: "215";
        }
    }

}

@media screen and (min-width: 700px) and (max-width: 1110px) {
    .container_reco {
        display: flex;
        flex-direction: row;
        align-items: center; /* Centrar horizontalmente */
        text-align: center; /* Centrar texto */

        div {
            margin-bottom: 25px;
            gap: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100% !important;
            height: auto;
            margin-right: 100px;
            margin-left: 100px;
            margin-bottom: 25px;
        }

        iframe {
            width: 90%; /* Haz que el iframe ocupe todo el ancho del contenedor */
            max-width: 560px; /* Ancho máximo del video */
            height: 315px; /* Altura del video */
            margin-bottom: 15px;
        }
    }

}
@media screen and (max-width: 700px) {
    .container_reco {
        display: flex;
        flex-direction: row;
        align-items: center; /* Centrar horizontalmente */
        text-align: center; /* Centrar texto */
        
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 100%;
            margin: 0;
            margin-bottom: 25px;
            gap: 0px;
            
            section, iframe {
                padding: 25px;
            }

            iframe {
                max-width: 460px; /* Ancho máximo del video */
                height: 300px; /* Altura del video */
            }
        }


    }
}

// SAGAS
@media screen and (max-width: 500px) {
    

    #sagas {

        .h1_sagas {
            font-size: 20px;
            margin-top: 70px;
        }

        .footer_hist {
            margin-top: 0px !important;
        }

        .container_carousel {

            gap: 20px;
            
            img {
            width: 100%;
            height: 280px;
            object-fit: cover;
            border-radius: 2px;
            }
        }

    }

    .contact-links{    
        a, h3{
        font-size: 16px !important;
        }
    }  

}

// CONTACTO
@media screen and (max-width: 500px) {

    .footer_cont {
        margin-top: 0px;
    }

    .h1_cont {
        text-align: center;
        margin-top: 70px;
        font-size: 20px;
    }

    .div_fieldset {
        margin-left: 20px;
        gap: 15px;

        fieldset {
            font-size: 15px;

            legend {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 1320px) and (min-width: 501px){

    .footer_cont {
        margin-top: 240px;
    }

    .h1_cont {
        text-align: center;
        margin-top: 70px;
        font-size: 20px;
    }

    .div_fieldset {
        margin-left: 20px;
        gap: 50px;
    }
}