.h1_reco {
    padding-top: 85px;
    margin-left: 20px;
}

.p_reco {
    margin-left: 22px;
    margin-bottom: 30px;
    text-align: center;

}

.container_reco {
    @include flex (row wrap, center, center);

    div {
        color: $negro;
        margin-right: 300px;
        margin-left: 300px;
        margin-bottom: 35px;
        padding-top: 15px;
        background-color: $amarillo;
        display: grid;
        grid-template-areas: 
        "section iframe"
        "section iframe";
        grid-template-columns: 40% 60%;
        gap: 100px;
        height: 350px;
    }
    
    section {
        padding: 25px;
    }
}